footer {
  background-color: var(--dark-color);
  font-size: var(--body-font-size-xs);
  color: var(--background-color);
}

footer .footer > div {
  margin: auto;
  max-width: var(--max-content-width);
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: var(--background-color);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
